.stream1 {
    border: 3px solid black;
    box-sizing: border-box;

    position: absolute;

    left: 60px;
    width: 300px;
    top: 60px;
    height: 700px;

    overflow: scroll;
}

.stream2 {
    border: 3px solid black;
    box-sizing: border-box;

    position: absolute;

    left: 420px;
    width: 300px;
    top: 60px;
    height: 700px;

    overflow: scroll;
}

.stream3 {
    border: 3px solid black;
    box-sizing: border-box;

    position: absolute;

    left: 840px;
    width: 700px;
    top: 60px;
    height: 300px;

    overflow: scroll;

    display: flex;
    flex-direction: row;
}


.stream4 {
    border: 3px solid black;
    box-sizing: border-box;

    position: absolute;

    left: 840px;
    width: 700px;
    top: 420px;
    height: 300px;

    overflow: scroll;
}

.top1 {
    border: 3px solid blue;
    box-sizing: border-box;
    height: 100px;
}

.bottom1 {
    border: 3px solid blue;
    box-sizing: border-box;
    height: 100px;
}

.data1 {
    border: 3px solid red;
    box-sizing: border-box;
}
