<div class='main'>
    <div class='main-group-list' #parentGroupList>
        <div class='top-group-list' #topGroupList></div>
        <div class='data-group-list' *ngFor='let group of groupMugenScroll.datas'
            [attr.key]='groupMugenScroll.key(group)' (click)='clickGroup(group)'>
            <div>{{group.name}}</div>
        </div>
        <div class='bottom-group-list' #bottomGroupList></div>
    </div>
    <div class='main-data-list' #parentDataList>
        <div class='top-data-list' #topDataList></div>
        <div class='data-data-list' #dataDataList *ngFor='let data of dataMugenScroll.datas'
            [attr.key]='dataMugenScroll.key(data)'>
            <div>
                {{data.id}}: {{data.name}}
            </div>
            <div>
                {{data.createdAt*1000|date:"full"}}
            </div>
            <div>
                {{data.message}}
            </div>
        </div>
        <div class='bottom-data-list' #bottomDataList></div>
    </div>
</div>